/** {
  margin: 0;
  padding: 0;
}*/

body {
  font-family: 'Avenir', sans-serif;
}

.container{
  display: inline-block;
  margin: 20px ;
}

.text-right {
  text-align: right;
}

button{
  padding: .1em .3em;
  border: 1px solid rgba(0,0,0,.1);
  background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5); color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5); font-size: 125%;
  line-height: 1.5;
  font-size: .5em;
  display: block;
  margin: 0 auto;
}
